@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode header, 
body.light-mode section, 
body.light-mode footer {
  background-color: #f3f4f6;
}

body.light-mode a {
  color: #0c0c0c;
}

body.light-mode #work a {
  background-color: #d3d3d3;
}
